.container {
  width: 350px;
  padding-top: 15px;
  margin-top: 50px;
  border-radius: 8px;
  background: rgb(236, 250, 36);
  background: linear-gradient(
    162deg,
    rgba(236, 250, 36, 1) 0%,
    rgba(9, 70, 226, 0.7497373949579832) 0%,
    rgba(164, 203, 250, 0.007440476190476164) 100%
  );
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}
